.Username {
    position: absolute;
    width: 737px;
    height: 70px;
    left: 25%;
    top: 306px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline: none;
    border: none;
    
}
::placeholder
{
    position: absolute;
    width: 59px;
    height: 38px;
    left: 23px;
    top: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    text-align: left;
    color: #95B2FC;
}

.Password{
 position: absolute;
width: 737px;
height: 70px;
left: 25%;
top: 416px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
outline: none;
border: none;
}

.LoginBtn{
position: absolute;
width: 428px;
height: 76px;
left: 506px;
top: 574px;
background: #95B2FC;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
outline: 0;
border: none;
font-size: 25px;
color: white;
}




